.kg- {
  &magical-name {
    // レイアウト
    display: flex;

    // 要素
    font-size: 1.25rem;
  }
  &magical-name-kana {
    font-size: 0.8rem;
    margin-left: -5px;
  }
  &magicalgirl {
    font-size: 0.9rem;
    align-self: flex-end;
    padding-right: 5px;
  }
}
