.kg- {
  &magical-name {
    // レイアウト
    display: flex;
    justify-content: center;
    vertical-align: center;

    // 要素
    font-size: 1.25rem;
  }
  &magicalgirl {
    font-size: 0.9rem;
    align-self: flex-end;
    padding-right: 5px;
  }
}
