.kg- {
  &magical-name {
    // レイアウト
    display: flex;

    // 要素
    font-size: 1.25rem;
  }
  &magical-name-kana {
    font-size: 0.8rem;
    margin-left: -5px;
  }
  &magicalgirl {
    font-size: 0.9rem;
    align-self: flex-end;
    padding-right: 5px;
  }
  &profile {
    display: flex;
    margin-top: 5px;
    padding: 5px;
    align-items: flex-start;

    img {
      width: 50px;
      height: 50px;
    }
    // 画像
    div:nth-child(1) {
      border-left: solid $fontColor 1px;
      border-top: solid $fontColor 1px;
      border-bottom: solid $fontColor 1px;
    }
    // 詳細
    div:nth-child(2) {
      min-height: 50px;
      width: calc(100% - 50px);
      border: solid $fontColor 1px;
      padding: 5px;
      white-space: pre-wrap;
      color: $mainColor;
      background-color: $fontColor;
    }
  }
}
