.game-controller {
  .cross-layout {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px 30px 30px;

    & .cross-layout-position-top {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    & .cross-layout-position-left {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    & .cross-layout-position-center {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    & .cross-layout-position-right {
      grid-row: 2 / 3;
      grid-column: 3/4;
    }

    & .cross-layout-position-bottom {
      grid-row: 3 / 4;
      grid-column: 2/3;
    }
  }
  .abxy-btn {
    border-radius: 50%;

    width: 30px;
    height: 30px;
    color: white;
  }

  .btn-x {
    background-color: blue;
  }
  .btn-y {
    background-color: green;
  }
  .btn-a {
    background-color: red;
  }
  .btn-b {
    background-color: yellow;
  }
  .abxy-btn-set {
    display: inline-block;
    padding: 10px;
    background-color: rgba(66, 86, 123, 0.5);
    border-radius: 50%;
  }
  .btn {
    border-style: none;
    cursor: pointer;
  }
  .controller-right {
    display: inline-block;
    background-color: rgb(229, 227, 250);
    padding: 20px;
    border-radius: 50%;
  }
}
