rules_version = '2';
service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }

  // 制限をしたら、クエリのほうでもその制約を意識する必要がある。 https://firebase.google.com/docs/firestore/security/rules-query?hl=ja
  function isOwner(rsc) {
    // データ作成した本人であることを確認
    return isSignedIn() && request.auth.uid == rsc.data.uid;
  }

  // マッチングルール
  match /databases/{database}/documents {
    match /systems/lost/{documents=**} {
      allow read
      allow create: if isSignedIn()
      allow delete, update: if isOwner(resource)
    }
    match /systems/drift/{documents=**} {
      allow read
      allow create: if isSignedIn()
      allow delete, update: if isOwner(resource)
    }
    match /others/memolist/{documents=**} {
      allow read, create, update
      allow delete: if isOwner(resource)
    }
  }
}
