.trpg-manual {
  min-height: 100vh;
  padding: 0 0.5rem;

  main {
    margin: 0 auto;
    max-width: 1200px;
  }

  input[type='checkbox'] {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .trpg-manual-wrapper {
    display: flex;
  }
}
