// 引数を使う場合はmixin, 使わない場合はextends

.flex-centering {
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center; /* 子要素をflexboxにより中央に配置する */
}

.yu-font {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic',
    Verdana, Meiryo, sans-serif;
}

.bold {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI semibold',
    'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic', 'Segoe UI', Verdana,
    Meiryo, sans-serif;
}
